.hackIndustry {
  width: 100%;
  height: auto;
  padding: 144px 0;
  background-color: #ffffff;
  &__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__textBlock {
    width: 50%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__subtitle {
    font-family: "FiveYearsLater", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 24px;
    span {
      color: #f57b51;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #171717;
  }
  &__image {
    width: 50%;
  }

  @media screen and (max-width: 576px) {
    padding: 72px 0;
    &__wrapper {
      flex-direction: column;
    }
    &__textBlock {
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
    }
    &__image {
      width: 100%;
    }
  }
}
