.aboutCourse {
  width: 100%;
  height: auto;
  background-color: $colorGreen;
  
  &.aboutCourse--mobile {
    display: none;
  }
  &__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 144px 0;
  }
  &__title {
    font-family: "FiveYearsLater", sans-serif;
    font-weight: normal;
    font-size: 56px;
    line-height: 63px;
    color: $colorBlack;
    margin-bottom: 40px;
  }
  &__accordion {
    width: 100%;
  }
  &-carts {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 64px;
    &__col {
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      &:not(:last-child) {
        margin-right: 40px;
      }
      .cart {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 32px 40px;
        background-color: $colorWhite;
        border-radius: 4px;
        flex-grow: 1; 
        &:not(:last-child) {
          margin-bottom: 8px;
        }
        &__icon {
          margin-right: 16px;
          min-width: 58px;
          height: 58px;
          border-radius: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__content {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }
        &__title {
          font-weight: 500;
          font-size: 25px;
          line-height: 31px;
          color: $colorBlack;
          margin-bottom: 8px;
          span {
            color: $colorPrimary;
          }
        }
        &__list {
          .list__title {
            font-size: 14px;
            margin-bottom: 8px;
            margin-top: 8px;
          }
          .list__item {
            padding-left: 8px;
            font-size: 14px;
            line-height: 20px;
            &::before {
              width: 4px;
              height: 4px;
              top: 8px;
            }
            &:not(:last-child) {
              margin-bottom: 4px;
            }
          }
        }
        &__text {
          font-size: 14px;
          line-height: 20px;
          color: $colorBlack;
        }
      }
    }
  }
  &__btn {
    width: 458px;
    padding: 18px 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: $colorWhite;
    align-self: center;
  }

  &__bonus {
    display: none;
  }

  @media screen and (max-width: 991px) {
    display: none;
    &.aboutCourse--mobile {
      display: block;
    }
    &__wrapper {
      padding: 72px 0;
    }
    &__bonus {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 10px;
      background-color: $colorWhite;
      padding-top: 72px;
      padding-bottom: 72px;
      .bonus__title {
        font-family: "FiveYearsLater", sans-serif;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #171717;
        margin-bottom: 16px;
        span {
          color: $colorPrimary;
        }
      }
      .bonus__text {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
      }
      .bonus__list {
        margin-bottom: 40px;
      }
      .aboutCourse__btn {
        width: 100%;
        padding: 18px 16px;
        text-align: left;
      }
    }
  }

  @media screen and (max-width: 576px) {
    h2.aboutCourse__title {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 24px;
    }
    .accordion__list {
      .accordion {
        &__control {
          padding: 0;
          padding-right: 0;
        }
        &__title {
          padding: 6px 16px;
          max-width: 210px;
          text-align: left;
        }
      }
    }
  }
}
