.heroSection {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $colorBeige;
  padding-top: 46px;
  max-height: 750px;
  overflow: hidden;
  &__head {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: max(15px, calc((100% - 1160px) / 2));
    padding-right: max(15px, calc((100% - 1160px) / 2));
    margin-bottom: 60px;
    z-index: 2;
  }

  &__wrapper {
    width: 100%;
    height: auto;
    padding-left: max(15px, calc((100% - 1160px) / 2));
    display: flex;
    overflow: hidden;
  }
  //Content
  &__content {
    width: 100%;
    max-width: 750px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 64px;
    &-top {
      width: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 24px;
      .heroSection__subtitle {
        margin: 0;
        margin-right: 32px;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  &__frame {
    font-family: "FiveYearsLater", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #171717;
    padding: 8px;
    background: rgba(190, 213, 174, 0.6);
    border: 1px solid #bed5ae;
    border-radius: 14px;
  }
  &__subtitle {
    font-family: "FiveYearsLater", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: $colorBlack;
    margin-bottom: 32px;
  }
  &__title {
    max-width: 700px;
    font-family: "FiveYearsLater", sans-serif;
    font-weight: normal;
    font-size: 70px;
    line-height: 74px;
    margin-bottom: 24px;
    color: $colorBlack;
    span {
      color: $colorPrimary;
      text-transform: uppercase;
    }
  }
  &__text {
    max-width: 700px;
    font-size: 24px;
    line-height: 31px;
    color: $colorBlack;
    margin-bottom: 40px;
  }
  &__btn {
    width: 467px;
    margin-bottom: 82px;
  }
  &__list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 16px;
    .list__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 0;
      &::before {
        display: none;
      }
      &:not(:last-child) {
        padding-right: 16px;
        border-right: 3px solid $colorWhite;
        margin-right: 16px;
      }
      .item__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: $colorBlack;
        margin-bottom: 8px;
      }
      .item__text {
        font-size: 16px;
        line-height: 20px;
        color: #171717;
        opacity: 0.75;
      }
    }
  }

  //Image
  &__image {
    position: absolute;
    top: 0px;
    left: 54%;
    width: 821px;
    height: auto;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 0;
    }
    .image__block {
      top: 13%;
      left: 34%;
      position: absolute;
      width: 117px;
      height: 117px;
      background-color: $colorBlack;
      border-radius: 100%;
      font-family: "FiveYearsLater", sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: $colorWhite;
      display: flex;
      justify-content: center;
      align-items: center;
      &-content {
        color: $colorBlack;
        background-color: $colorWhite;
        width: 101px;
        height: 101px;
        z-index: 2;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .block__icon {
          width: 40px;
          height: 40px;
          margin-bottom: 8px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .block__text {
          font-family: "FiveYearsLater", sans-serif;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          color: #171717;
        }
      }
      &.image__block--white {
        width: 117px;
        height: 117px;
        background: rgba(255, 255, 255, 0.43);
        backdrop-filter: blur(4px);
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $colorBlack;
          background-color: $colorWhite;
          width: 101px;
          height: 101px;
          content: "";
          z-index: 2;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &.heroSection-image--mobile {
      display: none;
    }
  }

  // @media screen and (max-width: 1180px) {
  //   &__image {
  //     position: absolute;
  //     top: 55%;
  //     transform: translateY(-50%);
  //     left: vw(640px, 1160px);
  //     width: vw(821px, 1260px);
  //     height: auto;
  //   }
  // }
  @media screen and (max-width: 991px) {
    height: auto;
    max-height: none;
    &__image {
      position: relative;
      top: auto;
      transform: translateY(0);
      left: auto;
      width: 80%;
      height: auto;
      display: none;
      margin-bottom: 32px;
      &.heroSection-image--mobile {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0;
    }
  }

  @media screen and (max-width: 576px) {
    overflow: scroll;
    max-height: none;
    padding-top: 32px;
    &__head {
      display: flex;
      margin-bottom: 30px;
      .navInPage  {
        display: none;
      }
    }
    &__nav {
      padding: 0 15px;
    }
    &__wrapper {
      grid-template-columns: 1fr;
      padding: 0;
    }
    &__content {
      padding-bottom: 40px;
      overflow: hidden;
    }
    &__subtitle {
      width: 238px;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 16px;
      margin-right: 15px;
      margin-left: 15px;
    }
    &__title {
      font-size: 46px;
      line-height: 47px;
      span {
        font-size: 50px;
        line-height: 57px;
      }
      margin-bottom: 24px;
      padding: 0 15px;
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
      padding: 0 15px;
    }
    &__btn {
      max-width: none;
      width: calc(100% - 15px * 2);
      padding: 18px 0;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 0px;
    }
    &__list {
      grid-template-columns: 1fr;
      padding: 0 15px;
      .list__item {
        &:not(:last-child) {
          border-right: 0;
          border-bottom: 1px solid $colorWhite;
          padding-right: 0;
          padding-bottom: 16px;
          margin-right: 0;
          margin-bottom: 16px;
        }
      }
    }
    &__image {
      display: none;
      margin-bottom: 32px;
      &.heroSection-image--mobile {
        display: block;
        width: 525px;
        height: auto;
        align-self: center;
        margin-left: 100px;
      }
      .image__block {
        top: vmin(52);
        left: 50%;
        transform: translateX(-50%);
        width: vmin(117);
        height: vmin(117);
        font-size: vmin(14);
        line-height: vmin(16);
      }
    }
  }
}
