.programModalWindow {
  z-index: 9999;
  &__wrapper {
    max-width: 1200px;
    width: 90%;
    max-height: 700px;
    overflow-y: scroll;
  }
  &__head {
    padding: 24px 64px;
    background-color: #e0ded2;
  }
  &__title {
    font-family: "FiveYearsLater", sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    color: #171717;
  }
  &__body {
    padding: 40px 64px 72px;
  }
  &__list {
    gap: 0 154px;
    .list__item {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
      .item__title {
        font-family: "FiveYearsLater", sans-serif;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        color: #171717;
        margin-bottom: 8px;
      }
      .item__text {
        width: calc(100% + 16px);
        margin-left: -16px;
      }
    }
  }
  &__frame {
    width: 100%;
    height: auto;
    background-color: #cde3ff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 64px;
    .frame__content {
      width: 556px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-right: 58px;
      padding: 72px 0;
    }
    .frame__title {
      font-family: "FiveYearsLater", sans-serif;
      font-weight: normal;
      font-size: 26px;
      line-height: 34px;
      color: #171717;
      margin-bottom: 24px;
    }
    .frame__text {
      font-size: 18px;
      line-height: 26px;
      color: #171717;
      margin-bottom: 24px;
    }
    .frame__btn {
      width: 393px;
    }
    .frame__image {
      width: auto;
      height: 100%;
      img {
        height: 100%;
        width: auto;
      }
    }
  }

  @media screen and (max-width: 576px) {
    &__wrapper {
      max-width: 1200px;
      width: calc(100% - 20px);
      max-height: 500px;
      overflow-y: scroll;
    }
    &__head {
      padding: 16px;
      padding-right: 75px;
      background-color: #e0ded2;
    }
    &__title {
      font-size: 22px;
      line-height: 26px;
    }
    &__body {
      padding: 40px 16px;
    }
    &__list {
      gap: 32px 0;
      .list__item {
        .item__title {
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 8px;
        }
        .item__text {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    &__frame {
      width: 100%;
      height: auto;
      background-color: #cde3ff;
      display: flex;
      flex-direction: column;
      padding: 64px 0;
      padding-bottom: 40px;
      .frame__content {
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
        padding: 0 16px;
      }
      .frame__title {
        font-size: 16px;
        line-height: 22px;
      }
      .frame__text {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 40px;
      }
      .frame__btn {
        min-width: 0;
        width: 100%;
      }
      .frame__image {
        width: 100%;
        height: auto;
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
