@import "../../vars";

.blockWithVideo {
  width: 100%;
  height: auto;
  padding: 144px 0;
  &__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__title {
    margin-bottom: 40px;
    h1,
    h2,
    h3 {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      font-style: inherit;
      line-height: inherit;
    }
  }
  &__content {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 532px 1fr;
    grid-gap: 0 40px;
  }
  &__text {
    font-size: 18px;
    line-height: 26px;
    color: #171717;
    align-self: center;
    strong {
      font-weight: 500;
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__video {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 4px;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .video {
      &__poster {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        width: 96px;
        height: 96px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          fill: $colorPrimary;
          margin-left: 5px;
          margin-top: 3px;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    padding: 72px 0;
    &__title {
      margin-bottom: 24px;
    }
    &__content {
      grid-template-columns: 1fr;
      grid-gap: 24px 0;
    }
    &__subtitle {
      line-height: 26px;
    }
    &__list {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      .list__item {
        .item__dot {
          margin-right: 12px;
        }
      }
    }
    &__video {
      .video {
        &__play {
          width: 84px;
          height: 84px;
          svg {
            fill: $colorPrimary;
            margin-left: 5px;
            margin-top: 3px;
          }
        }
      }
    }
  }
}
