.program {
  width: 100%;
  height: auto;
  padding: 144px 0;
  background-color: #cde3ff;
  &__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__carts {
    width: 100%;
    height: auto;
    .cart {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 460px;
      background-color: #ffffff;
      border-radius: 4px;
      border: 2px solid #a4c6f1;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      &:nth-child(2n) {
        grid-template-columns: 460px 1fr;
        .cart__content {
          grid-column: 2;
          padding-left: 40px;
          padding-right: 64px;
        }
        .cart__image {
          grid-row: 1;
          grid-column: 1;
        }
      }
      &__content {
        width: 100%;
        height: auto;
        padding: 40px;
        padding-left: 64px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      &__title_date {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #171717;
        margin-bottom: 8px;
      }
      &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: #171717;
        margin-bottom: 24px;
      }
      &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #171717;
        max-width: 596px;
        margin-bottom: 24px;
        strong {
          font-weight: 500;
        }
        span {
          color: #f57b51;
        }
      }
      &__result {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #171717;
        br {
          display: block;
          margin: 10px 0;
          line-height: 16px;
          content: " ";
        }
        strong {
          font-weight: 500;
          color: #f57b51;
        }
      }
      &__list {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .cart__text {
          margin-bottom: 16px;
        }
        .list__item {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          &:not(:last-child) {
            margin-bottom: 16px;
          }
          .item__title {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #171717;
            margin-bottom: 4px;
            span {
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #f57b51;
              margin-right: 17px;
            }
          }
          .item__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #171717;
            strong {
              font-weight: 500;
            }
          }
          .item__list {
            list-style: disc;
            padding-left: 24px;
            li {
              list-style: disc;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #171717;

              &::marker {
                font-size: 11px;
              }
            }
          }
        }
      }
      &__image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        picture,
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .openAllCarts__btn {
      background-color: #171717;
      color: #ffffff;
    }
  }

  @media screen and (max-width: 576px) {
    width: 100%;
    height: auto;
    padding: 72px 0;
    background-color: #cde3ff;
    &__wrapper {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &__title {
      margin-bottom: 24px;
    }
    &__carts {
      .cart {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #ffffff;
        border-radius: 4px;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
        &:nth-child(2n) {
          grid-template-columns: 1fr;
          .cart__content {
            grid-column: 1;
            padding: 24px 16px;
          }
          .cart__image {
            grid-row: 2;
            grid-column: 1;
          }
        }
        &__content {
          padding: 24px 16px;
        }
        &__title {
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
        }
        &__text {
          font-size: 14px;
          line-height: 20px;
        }
        &__list {
          .list__item {
            .item__title {
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
            }
            .item__text {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
        &__result,
        &__other {
          .result__title,
          .other__title {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 4px;
          }
          .result__text,
          .other__text {
            font-size: 14px;
            line-height: 20px;
          }
        }
        &__image {
          width: 100%;
          height: 100%;
          border-radius: 4px;
          overflow: hidden;
          picture,
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .openAllCarts__btn {
        background-color: transparent;
        color: #171717;
      }
    }
  }
}
