.myth {
  width: 100%;
  height: auto;
  padding: 144px 0;
  background-color: #f4f3ee;
  &__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__title {
    font-family: "FiveYearsLater", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 63px;
    color: #171717;
    margin-bottom: 40px;
  }
  &__carts {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 40px;
    margin-bottom: 40px;
    overflow: hidden;
    .cart {
      width: 100%;
      height: auto;
      padding: 24px 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background: #ffffff;
      border: 1px solid #e0ded2;
      border-radius: 4px;
      .cart__title {
        font-family: "FiveYearsLater", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #6ea349;
        margin-bottom: 8px;
        &:first-child {
          color: #f57b51;
        }
      }
      .cart__text {
        font-size: 16px;
        line-height: 24px;
        color: #171717;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
        strong {
          font-weight: 500;
        }
      }
    }
  }
  &__more {
    display: none;
  }
  &__btn {
    max-width: 467px;
    width: 100%;
    height: auto;
    background-color: #f57b51;
    border-radius: 4px;
    align-self: center;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #ffffff;
    padding: 18px 0;
  }

  @media screen and (max-width: 576px) {
    padding: 72px 0;
    &__title {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 24px;
    }
    &__carts {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 16px 0;
      margin-bottom: 40px;
      transition: 0.5s max-height ease-in-out;
    }
    &__more {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #171717;
      margin-bottom: 40px;
      svg {
        margin-left: 16px;
        margin-top: 5px;
      }
    }
    &__btn {
      max-width: 467px;
      width: 100%;
      height: auto;
      background-color: #f57b51;
      border-radius: 4px;
      align-self: center;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: 0.01em;
      color: #ffffff;
      padding: 18px 0;
    }
  }
}
