.sectionWithVideo {
  width: 100%;
  height: auto;
  padding: 144px 0;
  background-color: #fff;
  &__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }
  &__title {
    font-family: "FiveYearsLater", sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 63px;
    color: #171717;
    margin-bottom: 40px;
  }
  &__video {
    margin-right: 0;
  }
  &__content {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 0.92fr 1fr;
    grid-gap: 0 40px;
  }
  &__textBlock {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__mainText {
    font-family: "FiveYearsLater", sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: $colorBlack;
    margin-bottom: 16px;
    span {
      color: $colorPrimary;
    }
  }
  &__subText {
    font-size: 16px;
    line-height: 24px;
    color: #171717;
  }

  @media screen and (max-width: 991px) {
    &__wrapper {
      display: flex;
      grid-gap: 0;
    }
    &__content {
      grid-template-columns: 1fr;
      background-color: transparent;
      grid-gap: 30px 0;
    }
    &__video {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 576px) {
    padding: 72px 0;
    &__title {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 24px;
    }
    &__wrapper {
      padding: 0;
    }
    &__mainText {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 16px;
    }
    &__subText {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

//Video
.video {
  width: 100%;
  height: auto;
  &__poster {
    position: relative;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;
    border-radius: 100%;
    background-color: $colorWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-left: 5px;
      fill: $colorPrimary;
    }
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 576px) {
    &__play {
      width: 86px;
      height: 86px;
      svg {
        width: 30px;
        height: auto;
      }
    }
  }
}
