.faq {
  width: 100%;
  height: auto;
  padding: 144px 0;
  background-color: #cde3ff;
  &__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__title {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 576px) {
    padding: 72px 0;
    &__title {
      margin-bottom: 24px;
    }
  }
}
