.heroSection {
  width: 100%;
  height: auto;
  background-color: #cde3ff;
  padding-top: 40px;
  padding-bottom: 64px;
  overflow: hidden;
  &__wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:
      "header header"
      "content images"
      "footer footer";
    grid-template-columns: 856px 1fr;
    padding-left: calc((100% - 1160px) / 2);
  }
  &__header {
    position: relative;
    z-index: 2;
    grid-area: header;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 57px;
    padding-right: calc((100% - 1160px));
  }
  &__breadcrumbs {
    .breadcrumbs {
      &__thisPage {
        color: #171717;
        opacity: 0.8;
        font-size: 13px;
        line-height: 18px;
      }
      &__link,
      &__seporator,
      a {
        color: #6d7078;
        font-size: 13px;
        line-height: 18px;
      }
    }
  }
  &__navLinks {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &.navLinks--mobile {
      display: none;
    }
    .navLinks__item {
      width: auto;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 4px 8px;
      background-color: #171717;
      border-radius: 14px;
      &:not(:last-child) {
        margin-right: 16px;
      }
      .navLinks__link {
        font-family: "FiveYearsLater", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #ffffff;
      }
    }
  }
  &__content {
    position: relative;
    z-index: 2;
    grid-area: content;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 82px;
  }
  &__frame {
    font-family: "FiveYearsLater", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #171717;
    margin-bottom: 16px;
  }
  &__title {
    max-width: 690px;
    font-size: 70px;
    line-height: 74px;
    margin-bottom: 16px;
    color: #171717;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #171717;
    opacity: 0.7;
    margin-bottom: 40px;
  }
  &__btn {
    max-width: 467px;
  }
  &__image {
    position: relative;
    grid-area: images;
    picture {
      max-width: none;
      img {
        position: absolute;
        left: -209px;
        top: -85px;
        max-width: none;
        width: 803px;
        height: auto;
      }
    }
    .image__block {
      position: absolute;
      top: 0;
      left: 63px;
      width: 117px;
      height: 117px;
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.43);
      backdrop-filter: blur(4px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 11px;
      text-align: center;
      font-family: "FiveYearsLater", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #171717;
      padding: 8px;
      .content {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 3px;
      }
    }
  }
  &__footer {
    grid-area: footer;
    width: 100%;
    height: auto;
  }
  &__list {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    .list__item {
      max-width: 255px;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 5px;
      padding-bottom: 5px;
      &:not(:last-child) {
        padding-right: 40px;
        margin-right: 40px;
        border-right: 2px solid #ffffff;
      }
      .item__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #171717;
        margin-bottom: 8px;
      }
      .item__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #171717;
        opacity: 0.75;
        max-width: 234px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    padding-top: 32px;
    padding-bottom: 40px;
    &__wrapper {
      grid-template-areas:
        "content"
        "images"
        "footer";
      grid-template-columns: 1fr;
    }
    &__header {
      display: none;
    }
    &__navLinks {
      display: none;
      margin-bottom: 32px;
      &.navLinks--mobile {
        display: flex;
      }
      .navLinks__item {
        &:not(:last-child) {
          margin-right: 8px;
        }
        .navLinks__link {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 2;
      width: calc(100% - 20px);
      margin: 0 10px;
      margin-bottom: 32px;
    }
    &__frame {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 16px;
    }
    &__title {
      font-size: 48px;
      line-height: 48px;
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
    }
    &__btn {
      max-width: 467px;
    }
    &__image {
      height: vmin(430);
      margin-bottom: 32px;
      picture {
        max-width: none;
        img {
          position: absolute;
          left: 51%;
          transform: translateX(-50%);
          width: vmin(600);
          height: auto;
          top: vmin(-86);
        }
      }
      .image__block {
        top: vmin(300);
        left: 18px;
        transform: translateX(0%);
        z-index: 2;
      }
    }
    &__list {
      width: calc(100% - 20px);
      margin: 0 10px;
      flex-direction: column;
      align-items: flex-start;
      .list__item {
        width: 100%;
        max-width: none;
        padding-top: 5px;
        padding-bottom: 5px;
        &:not(:last-child) {
          padding: 0;
          margin: 0;
          border: none;
          padding-bottom: 16px;
          margin-bottom: 16px;
          border-bottom: 2px solid #ffffff;
        }
        .item__text {
          max-width: none;
        }
      }
    }
  }
}
