.heroSection {
  width: 100%;
  height: auto;
  background-color: $colorBlue;
  &__wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 630px 1fr;
    grid-gap: 0 68px;
  }
  &__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__text {
    font-size: 18px;
    line-height: 26px;
    color: #171717;
  }
  &__image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  @media screen and (max-width: 576px) {
    padding-top: 40px;
    padding-bottom: 72px;
    &__wrapper {
      grid-template-columns: 1fr;
      grid-gap: 40px 0;
    }
    &__title {
      margin-bottom: 32px;
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
