.video {
  width: 100%;
  height: auto;
  &__poster {
    position: relative;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;
    border-radius: 100%;
    background-color: $colorWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-left: 5px;
      fill: $colorPrimary;
    }
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 576px) {
    &__play {
      width: 86px;
      height: 86px;
      svg {
        width: 30px;
        height: auto;
      }
    }
  }
}