@import "../function.scss";

.heroSection {
  width: 100%;
  height: auto;
  padding: 177px 0;
  &__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__title {
    max-width: 960px;
    font-family: "FiveYearsLater", sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 63px;
    color: #ffffff;
    margin-bottom: 16px;
    span {
      color: #f57b51;
    }
  }
  &__text {
    font-family: "FiveYearsLater", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #ffffff;
  }

  @media screen and (max-width: 576px) {
    padding: 40px 0 72px;
    &__title {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 25px;
    }
    &__text {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.experts {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #e0ded2;
  padding: 144px 0;
  @media screen and (max-width: 576px) {
    padding: 72px 0;
  }
}
