.schedule {
  width: 100%;
  height: auto;
  padding: 144px 0;
  background-color: #ffffff;
  &__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 144px;
    .list__item {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding-bottom: 16px;
      border-bottom: 1px solid #e8e8ee;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      .item__date {
        padding: 8px 32px;
        min-width: 308px;
        width: 308px;
        height: auto;
        background-color: #171717;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        color: #ffffff;
        margin-right: 32px;
        border-radius: 14px;
      }
      .item__text {
        font-size: 24px;
        line-height: 31px;
        color: #171717;
        strong {
          font-weight: 500;
        }
      }
    }
  }
  &__offer {
    width: 100%;
    height: auto;
    padding: 64px;
    background: #ffefe9;
    border: 3px dashed #f57b51;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .offer {
      &__title {
        margin-bottom: 32px;
      }
      &__text {
        font-size: 24px;
        line-height: 34px;
        color: #171717;
        margin-bottom: 32px;
      }
      &__btn {
        max-width: 410px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    padding: 72px 0;
    &__title {
      margin-bottom: 24px;
    }
    &__list {
      margin-bottom: 72px;
      .list__item {
        flex-direction: column;
        padding-bottom: 24px;
        .item__date {
          padding: 4px 8px;
          min-width: 179px;
          width: 179px;
          font-size: 16px;
          line-height: 24px;
          margin-right: 0;
          margin-bottom: 8px;
          border-radius: 8px;
        }
        .item__text {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    &__offer {
      padding: 32px 16px;
      border: 2px dashed #f57b51;
      .offer {
        &__title {
          margin-bottom: 16px;
        }
        &__text {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 24px;
        }
        &__btn {
          max-width: none;
        }
      }
    }
  }
}
