.tariff {
  width: 100%;
  height: auto;
  padding: 144px 0;
  background-color: #e8e8ee;
  &__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__carts {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 40px;
    .cart {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 40px;
      background-color: #ffffff;
      border-radius: 4px;
      &__title {
        font-family: "FiveYearsLater", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        color: #171717;
        padding-bottom: 24px;
        border-bottom: 1px solid #e8e8ee;
        margin-bottom: 24px;
      }
      &__list {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 24px;
        .list__item {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          &:not(:last-child) {
            margin-bottom: 8px;
          }
          .item__dot {
            min-width: 8px;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: #f57b51;
            margin-right: 16px;
            margin-top: 9px;
          }
          .item__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #171717;
            strong {
              font-weight: 500;
            }
          }
        }
      }
      &__price {
        width: 100%;
        height: auto;
        font-family: "FiveYearsLater", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 63px;
        color: #f57b51;
        margin-bottom: 24px;
        margin-top: auto;
        padding-top: 24px;
        border-top: 1px solid #e8e8ee;
      }
      &__btn {
        width: 100%;
        height: auto;
        max-width: none;
      }
    }
  }

  @media screen and (max-width: 576px) {
    padding: 72px 0;
    &__title {
      margin-bottom: 24px;
    }
    &__carts {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 24px 0;
      .cart {
        padding: 0;
        &__title {
          font-size: 24px;
          line-height: 31px;
          padding: 24px 16px;
          margin-bottom: 16px;
        }
        &__list {
          padding: 0 16px;
          .item__dot {
            margin-right: 8px;
            margin-top: 6px;
          }
          .item__text {
            font-size: 14px;
            line-height: 20px;
          }
        }
        &__price {
          font-size: 40px;
          line-height: 42px;
          padding: 24px 16px;
          padding-bottom: 0;
        }
        &__btn {
          width: 100%;
          height: auto;
          max-width: none;
        }
      }
    }
  }
}
