.likesStudents {
  width: 100%;
  height: auto;
  padding: 144px 0;
  background-color: $colorWhite;
  &__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__title {
    max-width: 510px;
    margin-bottom: 40px;
  }
  &__list {
    gap: 0 110px;
    margin-bottom: 0 !important;
    .list-col {
      gap: 40px 0;
    }
  }

  @media screen and (max-width: 991px) {
    padding: 72px 0;
    &__list {
      flex-direction: column !important;
      gap: 40px 0 !important;
      .list-col {
        width: 100% !important;
        gap: 20px 0;
      }
    }
  }
}
